[submodule "cpp/lib/supplementaries"]
	path = cpp/lib/supplementaries
	url = git@gitlab.com:TheOmegaCarrot/cpp-supplementaries
[submodule "ext/supplementaries"]
	path = ext/supplementaries
	url = https://gitlab.com/theomegacarrot/supplementaries
